.howCanA {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.fAQItemsChild {
  height: 10.2px;
  width: 10.2px;
  position: relative;
}
.fAQBlocks,
.fAQItems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.fAQItems {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite);
  padding: var(--padding-6xl) var(--padding-xl);
  gap: var(--gap-24xl);
}
.fAQBlocks {
  align-self: stretch;
  padding: 0 0 var(--padding-9xs);
  text-align: left;
  font-size: var(--btn-text-size);
  color: var(--color-darkslategray-300);
  font-family: var(--h3);
}
