.firstColumnPair {
  padding: 0 var(--padding-12xs) 0 0;
}
.columnPairsParent,
.firstColumnPair {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl-2);
}
.dualColumnOne,
.dualColumnOneWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.dualColumnOne {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.dualColumnOneWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-56xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-700);
  font-family: var(--h3);
}
