.questionsInMind,
.readOurFaq {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.readOurFaq {
  font-weight: 400;
}
.questionsTitleContent,
.readFAQ {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.readFAQ {
  flex-direction: row;
  padding: 0 var(--padding-44xl);
  font-size: var(--h3-size);
  color: var(--color-darkslategray-300);
}
.questionsTitleContent {
  flex-direction: column;
  gap: var(--gap-xs);
}
.dividers {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
}
.dividerParent {
  width: 206px;
  flex-direction: row;
  gap: var(--gap-7xl);
}
.dividerParent,
.questionsDivider,
.questionsTitleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.questionsDivider {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xl) 0 var(--padding-8xl);
}
.questionsTitleParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.questionsTitleParentWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-14xl) 0 var(--padding-15xl);
}
.fAQList {
  border: 0;
  background-color: var(--color-ghostwhite);
  height: 99.6px;
  width: auto;
  outline: 0;
  border-radius: var(--br-mid-2);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-5xl) var(--padding-lgi-8);
  box-sizing: border-box;
  font-family: var(--font-assistant);
  font-weight: 600;
}
.fAQList,
.fAQList1,
.fAQListParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--btn-text-size);
  color: var(--color-darkslategray-300);
}
.fAQList1 {
  border: 0;
  background-color: var(--color-ghostwhite);
  height: 99.6px;
  width: auto;
  outline: 0;
  border-radius: var(--br-mid-2);
  flex-direction: row;
  padding: var(--padding-lgi-8) var(--padding-5xl) var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--font-assistant);
  font-weight: 600;
}
.fAQListParent {
  flex-direction: column;
  gap: var(--gap-xl);
}
.questionsContent,
.questionsParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.questionsContent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-12xl);
}
.questionsParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.headerLogo884459461Icon {
  width: 124px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
}
.linkFacebook,
.linkTwitter {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.linkTwitter {
  height: 18.6px;
  width: 18px;
  min-height: 19px;
}
.socialLinks {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footerTop {
  width: 236px;
  height: 137.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.gstRegistration,
.services,
.virtualOffice {
  position: relative;
  display: inline-block;
  min-width: 59px;
}
.gstRegistration,
.virtualOffice {
  min-width: 86px;
}
.gstRegistration {
  min-width: 111px;
}
.coworkingSpaces {
  display: inline-block;
  min-width: 122px;
}
.businessRegistration,
.coworkingSpaces {
  position: relative;
}
.dedicatedDesk,
.mailingAddress {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.dedicatedDesk {
  min-width: 104px;
}
.pageLinks,
.servicesParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pageLinks {
  gap: var(--gap-3xs);
  color: var(--color-silver-200);
}
.servicesParent {
  gap: var(--gap-11xl);
}
.home {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.aboutUs,
.contactUs,
.home {
  text-decoration: none;
  color: inherit;
}
.aboutUs {
  position: relative;
  display: inline-block;
  min-width: 61px;
}
.contactUs {
  min-width: 73px;
}
.blog,
.contactUs,
.faqs,
.findLocation {
  position: relative;
  display: inline-block;
}
.blog {
  text-decoration: none;
  color: inherit;
  min-width: 30px;
}
.faqs,
.findLocation {
  min-width: 91px;
}
.faqs {
  min-width: 38px;
}
.otherLink {
  min-width: 74px;
}
.disclaimer,
.otherLink,
.privacyPolicy {
  position: relative;
  display: inline-block;
}
.privacyPolicy {
  text-decoration: none;
  color: inherit;
  min-width: 92px;
}
.disclaimer {
  min-width: 71px;
}
.cookies,
.termsConditions {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cookies {
  display: inline-block;
  min-width: 53px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-23xl);
}
.feelFreeTo {
  position: relative;
  font-weight: 600;
}
.contactDetailsIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.contactDetails {
  position: absolute;
  top: 1.5px;
  left: 32px;
  display: flex;
  align-items: center;
  min-width: 106px;
  white-space: nowrap;
}
.email1Icon {
  position: absolute;
  top: 42px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.virtualofficeteamcowork {
  position: absolute;
  top: 43.5px;
  left: 32px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.navigation21Icon {
  position: absolute;
  top: 93px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.palmCourtMehrauliGurgaon {
  position: absolute;
  top: 84px;
  left: 32px;
  display: flex;
  align-items: center;
  width: 243px;
}
.contactInfo {
  align-self: stretch;
  height: 126px;
  position: relative;
  font-size: var(--h5-size);
}
.feelFreeToConnectWithUsParent,
.newsletterParentParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.feelFreeToConnectWithUsParent {
  width: 275px;
  gap: var(--gap-lg);
}
.newsletterParentParent {
  align-self: stretch;
  padding: 0 var(--padding-3xs) 0 0;
  gap: var(--gap-17xl);
  font-size: var(--font-size-lg);
  color: var(--color-silver-200);
}
.footerContainer,
.footerContent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footerContent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.footerContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 0 var(--padding-lgi);
  box-sizing: border-box;
}
.virtualOfficeIn1 {
  align-self: stretch;
  height: 144px;
  position: relative;
  font-size: var(--btn-text-size);
  line-height: 18.4px;
  color: var(--color-darkgray-200);
  display: inline-block;
}
.bottomContent {
  width: 301px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.virtualOfficeFor1 {
  align-self: stretch;
  height: 180px;
  position: relative;
  font-size: var(--btn-text-size);
  line-height: 18.4px;
  color: var(--color-darkgray-200);
  display: inline-block;
}
.virtualOfficeForGstInMajoParent {
  width: 307px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.virtualOfficeFor3 {
  align-self: stretch;
  height: 198px;
  position: relative;
  font-size: var(--btn-text-size);
  line-height: 18.4px;
  color: var(--color-darkgray-200);
  display: inline-block;
}
.virtualOfficeForBusinessInParent {
  width: 303px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.virtualOfficeWith {
  width: 294px;
  position: relative;
  display: inline-block;
}
.virtualOfficeWith1 {
  align-self: stretch;
  position: relative;
  font-size: var(--btn-text-size);
  line-height: 18.4px;
  color: var(--color-darkgray-200);
  display: inline-block;
  max-height: 252px;
}
.virtualOfficeWithMailingAdParent {
  width: 304px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.firstDivider {
  width: 173.2px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 537px;
  right: -92.9px;
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  z-index: 2;
}
.bottomContainer,
.secondDivider {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}
.bottomContainer {
  width: 172.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-23xl);
}
.secondDivider {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-darkgray-200);
}
.copyright2019 {
  flex: 1;
  position: relative;
}
.poweredByMxn {
  width: 111px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.copyrightInfo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.secondDividerParent {
  align-items: flex-end;
  gap: var(--gap-4xs);
  font-size: var(--btn-text-size);
  color: var(--color-darkgray-200);
}
.bottomFooter,
.footer,
.questionsParentParent,
.secondDividerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottomFooter {
  background-color: var(--color-darkslategray-500);
  align-items: flex-start;
  padding: var(--padding-10xl-3) var(--padding-19xl) var(--padding-2xl-7)
    var(--padding-20xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--h5-size);
  color: var(--light-background-color);
  font-family: var(--font-assistant);
}
.footer,
.questionsParentParent {
  max-width: 100%;
}
.footer {
  background-color: var(--color-gray-400);
  align-items: flex-end;
  padding: var(--padding-22xl-7) 0 var(--padding-12xs-3);
  box-sizing: border-box;
  gap: var(--gap-4xl-4);
  font-size: var(--h5-size);
  color: var(--light-background-color);
}
.questionsParentParent {
  align-items: flex-start;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-mediumslateblue);
  font-family: var(--font-assistant);
}
