@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georgia:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-georgia: Georgia;
  --font-assistant: Assistant;
  --font-jost: Jost;
  --h3: Montserrat;
  --font-inter: Inter;
  --font-monda: Monda;

  /* font sizes */
  --font-size-18xl-1: 37.1px;
  --btn-text-size: 14px;
  --h5-size: 16px;
  --font-size-lg: 18px;
  --h3-size: 24px;
  --font-size-13xl: 32px;
  --font-size-smi-9: 12.9px;
  --font-size-11xl: 30px;
  --font-size-sm-5: 13.5px;
  --font-size-11xl-1: 30.1px;
  --font-size-base-3: 15.3px;
  --font-size-5xs-6: 7.6px;
  --font-size-2xs-2: 10.2px;
  --font-size-45xl-9: 64.9px;
  --font-size-3xs: 10px;
  --font-size-13xl-6: 32.6px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-lgi: 19px;
  --font-size-mini-5: 14.5px;
  --font-size-4xs-3: 8.3px;
  --font-size-xs: 12px;
  --font-size-7xl: 26px;
  --font-size-443xl-2: 462.2px;
  --font-size-97xl: 116px;
  --font-size-166xl: 185px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-smi-1: 12.1px;
  --font-size-2xl-2: 21.2px;
  --font-size-sm-6: 13.6px;
  --font-size-5xl-2: 24.2px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-2xl-8: 21.8px;
  --font-size-smi-7: 12.7px;
  --font-size-21xl: 40px;
  --font-size-37xl: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-3xl-1: 22.1px;
  --font-size-2xs: 11px;
  --font-size-mini-7: 14.7px;
  --font-size-3xl: 22px;
  --font-size-20xl: 39px;
  --font-size-33xl: 52px;
  --font-size-3xs-3: 9.3px;
  --font-size-xs-9: 11.9px;
  --font-size-sm-2: 13.2px;
  --font-size-base-9: 15.9px;
  --font-size-smi-2: 12.2px;
  --font-size-mini-3: 14.3px;
  --font-size-xl-4: 20.4px;
  --font-size-281xl: 300px;
  --font-size-base-1: 15.1px;
  --font-size-xl-1: 20.1px;
  --font-size-11xl-2: 30.2px;
  --font-size-3xs-6: 9.6px;

  /* Colors */
  --light-background-color: #fff;
  --color-orangered: #e52500;
  --color-gray-100: #fafafa;
  --color-gray-200: #777;
  --color-gray-300: #252525;
  --color-gray-400: #191c20;
  --gray-900: #101828;
  --color-gray-500: rgba(255, 255, 255, 0);
  --color-gray-600: rgba(0, 0, 0, 0.4);
  --color-gray-700: rgba(0, 0, 0, 0.87);
  --color-gray-800: rgba(0, 0, 0, 0.5);
  --primary-color: #3c4647;
  --gray-700: #344154;
  --color-darkslategray-100: #393939;
  --color-darkslategray-200: #383838;
  --color-darkslategray-300: #303a42;
  --color-darkslategray-400: #333;
  --color-darkslategray-500: #2b2f33;
  --color-darkslategray-600: #2e2e2e;
  --text-color: #252b42;
  --color-darkgray-100: #b0b0b0;
  --color-darkgray-200: #acacac;
  --color-silver-100: #c8c8c8;
  --color-silver-200: #c2c2c2;
  --color-silver-300: #bdbdbd;
  --color-mediumslateblue: #2962ff;
  --color-ghostwhite: #f2f5fe;
  --color-lightgray-100: #d7d7d7;
  --gray-300: #d0d5dd;
  --color-lightgray-200: #cbced8;
  --color-lightgray-300: #ccc;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke-300: #f4f4f4;
  --color-whitesmoke-400: #f4f3f0;
  --color-whitesmoke-500: #f1f1f1;
  --color-whitesmoke-600: #eef0f2;
  --color-whitesmoke-700: #efefef;
  --color-teal: #008385;
  --second-text-color: #737373;
  --color-dimgray-100: #636e6e;
  --color-dimgray-200: #616161;
  --color-dimgray-300: #606060;
  --color-dimgray-400: rgba(107, 107, 107, 0.87);
  --color-black: #000;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9dbdd;
  --color-blueviolet: #5442f4;
  --color-darkblue: #3424c2;
  --gray-500: #667085;
  --color-darkorange: #e98d16;
  --color-orange: #ffa229;
  --color-chocolate: #cc7000;
  --color-moccasin: #fbeabb;
  --color-lavender: #ede7f6;
  --color-powderblue: #b2ebf2;
  --color-lightblue: #bbdefb;
  --color-steelblue-100: #0a8cd6;
  --color-steelblue-200: #1c4670;
  --color-deepskyblue: #23a6f0;
  --color-dodgerblue: #4f87ff;
  --color-forestgreen-100: #4caf50;
  --color-forestgreen-200: #339636;
  --color-aliceblue: #e8f2fe;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-29xl: 48px;
  --gap-4xl-4: 23.4px;
  --gap-xl: 20px;
  --gap-4xs: 9px;
  --gap-8xs: 5px;
  --gap-23xl: 42px;
  --gap-lg: 18px;
  --gap-13xl: 32px;
  --gap-17xl: 36px;
  --gap-xs: 12px;
  --gap-11xl: 30px;
  --gap-3xs: 10px;
  --gap-12xl: 31px;
  --gap-23xl-1: 42.1px;
  --gap-24xl-1: 43.1px;
  --gap-25xl-1: 44.1px;
  --gap-7xl: 26px;
  --gap-21xl: 40px;
  --gap-3xs-7: 9.7px;
  --gap-mini-5: 14.5px;
  --gap-15xl-7: 34.7px;
  --gap-24xl-8: 43.8px;
  --gap-46xl-5: 65.5px;
  --gap-58xl-6: 77.6px;
  --gap-52xl-8: 71.8px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-3xl-8: 22.8px;
  --gap-12xs-2: 0.2px;
  --gap-4xl: 23px;
  --gap-2xl: 21px;
  --gap-16xl: 35px;
  --gap-6xl-7: 25.7px;
  --gap-15xl-4: 34.4px;
  --gap-lgi-5: 19.5px;
  --gap-7xs-2: 5.2px;
  --gap-6xs: 7px;
  --gap-smi: 13px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-196xl: 215px;
  --gap-base-1: 16.1px;
  --gap-33xl: 52px;
  --gap-9xs: 4px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-9xs-6: 3.6px;
  --gap-8xs-7: 4.7px;
  --gap-2xs-3: 10.3px;
  --gap-16xl-8: 35.8px;
  --gap-53xl: 72px;
  --gap-45xl: 64px;
  --gap-31xl-6: 50.6px;
  --gap-5xl-2: 24.2px;
  --gap-18xl: 37px;
  --gap-41xl: 60px;
  --gap-smi-3: 12.3px;
  --gap-88xl-8: 107.8px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-37xl-9: 56.9px;
  --gap-9xl: 28px;
  --gap-29xl-5: 48.5px;
  --gap-17xl-6: 36.6px;
  --gap-sm-7: 13.7px;
  --gap-17xl-4: 36.4px;
  --gap-lgi: 19px;
  --gap-24xl-7: 43.7px;
  --gap-27xl-9: 46.9px;
  --gap-8xs-9: 4.9px;
  --gap-mini-3: 14.3px;
  --gap-lgi-3: 19.3px;
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-lgi-7: 19.7px;
  --gap-sm: 14px;
  --gap-99xl: 118px;
  --gap-10xl: 29px;
  --gap-40xl: 59px;
  --gap-lgi-8: 19.8px;
  --gap-7xs-4: 5.4px;
  --gap-5xs-3: 7.3px;
  --gap-mini: 15px;
  --gap-38xl: 57px;
  --gap-4xl-5: 23.5px;
  --gap-121xl: 140px;
  --gap-32xl: 51px;
  --gap-36xl: 55px;
  --gap-32xl-5: 51.5px;
  --gap-48xl-1: 67.1px;
  --gap-15xl: 34px;
  --gap-49xl: 68px;
  --gap-40xl-4: 59.4px;
  --gap-51xl-6: 70.6px;
  --gap-271xl: 290px;
  --gap-126xl: 145px;
  --gap-457xl: 476px;
  --gap-100xl: 119px;
  --gap-219xl: 238px;
  --gap-17xl-5: 36.5px;
  --gap-19xl-9: 38.9px;
  --gap-155xl-1: 174.1px;
  --gap-25xl: 44px;
  --gap-68xl: 87px;
  --gap-smi-4: 12.4px;
  --gap-103xl-1: 122.1px;
  --gap-42xl: 61px;
  --gap-81xl: 100px;
  --gap-43xl: 62px;
  --gap-8xs-4: 4.4px;
  --gap-117xl-4: 136.4px;
  --gap-38xl-2: 57.2px;
  --gap-37xl-8: 56.8px;
  --gap-30xl: 49px;
  --gap-14xl: 33px;
  --gap-5xl-5: 24.5px;
  --gap-27xl-5: 46.5px;
  --gap-base-3: 16.3px;
  --gap-5xs-5: 7.5px;
  --gap-base-5: 15.5px;
  --gap-68xl-3: 87.3px;
  --gap-5xl-4: 24.4px;
  --gap-12xs-4: 0.4px;
  --gap-174xl-7: 193.7px;
  --gap-78xl: 97px;
  --gap-24xl-5: 43.5px;
  --gap-107xl-3: 126.3px;
  --gap-2xs-1: 10.1px;
  --gap-7xl-4: 26.4px;
  --gap-10xs-6: 2.6px;
  --gap-10xl-8: 29.8px;
  --gap-xs-9: 11.9px;
  --gap-7xs-3: 5.3px;
  --gap-2xl-2: 21.2px;
  --gap-base-4: 16.4px;
  --gap-7xs-5: 5.5px;
  --gap-5xs-4: 7.4px;
  --gap-8xs-6: 4.6px;
  --gap-8xs-5: 4.5px;
  --gap-base-8: 16.8px;
  --gap-24xl: 43px;
  --gap-19xl-1: 38.1px;
  --gap-24xl-2: 43.2px;
  --gap-7xs-6: 5.6px;
  --gap-7xs: 6px;
  --gap-23xl-3: 42.3px;
  --gap-117xl: 136px;
  --gap-137xl: 156px;
  --gap-3xl-7: 22.7px;
  --gap-7xl-5: 26.5px;
  --gap-lg-5: 18.5px;

  /* Paddings */
  --padding-22xl-7: 41.7px;
  --padding-12xs-3: 0.3px;
  --padding-10xl-3: 29.3px;
  --padding-19xl: 38px;
  --padding-2xl-7: 21.7px;
  --padding-20xl: 39px;
  --padding-mid: 17px;
  --padding-lgi: 19px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-lgi-8: 19.8px;
  --padding-5xl: 24px;
  --padding-6xl-2: 25.2px;
  --padding-mini: 15px;
  --padding-6xl-3: 25.3px;
  --padding-lgi-7: 19.7px;
  --padding-lgi-9: 19.9px;
  --padding-5xl-9: 24.9px;
  --padding-base-4: 15.4px;
  --padding-base-1: 15.1px;
  --padding-mini-7: 14.7px;
  --padding-base-2: 15.2px;
  --padding-14xl: 33px;
  --padding-15xl: 34px;
  --padding-9xl: 28px;
  --padding-8xl: 27px;
  --padding-44xl: 63px;
  --padding-33xl: 52px;
  --padding-lg: 18px;
  --padding-12xs: 1px;
  --padding-7xs-7: 5.7px;
  --padding-xs: 12px;
  --padding-24xl: 43px;
  --padding-13xl: 32px;
  --padding-7xs: 6px;
  --padding-10xl: 29px;
  --padding-9xs: 4px;
  --padding-sm: 14px;
  --padding-4xs: 9px;
  --padding-37xl-3: 56.3px;
  --padding-18xl: 37px;
  --padding-18xl-6: 37.6px;
  --padding-110xl-2: 129.2px;
  --padding-base-8: 16.8px;
  --padding-11xs: 2px;
  --padding-16xl: 35px;
  --padding-993xl: 1012px;
  --padding-12xl: 31px;
  --padding-8xs: 5px;
  --padding-lg-2: 18.2px;
  --padding-10xs: 3px;
  --padding-3xl: 22px;
  --padding-6xs: 7px;
  --padding-6xl: 25px;
  --padding-lg-8: 18.8px;
  --padding-mid-6: 17.6px;
  --padding-4xl: 23px;
  --padding-3xs-1: 9.1px;
  --padding-11xl-9: 30.9px;
  --padding-23xl: 42px;
  --padding-51xl: 70px;
  --padding-53xl: 72px;
  --padding-mini-5: 14.5px;
  --padding-11xs-4: 1.4px;
  --padding-95xl: 114px;
  --padding-12xl-1: 31.1px;
  --padding-base-5: 16.5px;
  --padding-12xl-7: 31.7px;
  --padding-113xl: 132px;
  --padding-43xl: 62px;
  --padding-21xl: 40px;
  --padding-4xl-1: 23.1px;
  --padding-11xl: 30px;
  --padding-72xl-5: 91.5px;
  --padding-41xl: 60px;
  --padding-72xl: 91px;
  --padding-40xl: 59px;
  --padding-42xl: 61px;
  --padding-12xs-5: 0.5px;
  --padding-xs-9: 11.9px;
  --padding-2xs-9: 10.9px;
  --padding-sm-9: 13.9px;
  --padding-8xs-2: 4.2px;
  --padding-62xl: 81px;
  --padding-4xs-1: 8.1px;
  --padding-9xs-6: 3.6px;
  --padding-2xs: 11px;
  --padding-81xl: 100px;
  --padding-46xl: 65px;
  --padding-49xl: 68px;
  --padding-71xl: 90px;
  --padding-25xl: 44px;
  --padding-39xl: 58px;
  --padding-50xl: 69px;
  --padding-110xl: 129px;
  --padding-26xl: 45px;
  --padding-65xl: 84px;
  --padding-31xl: 50px;
  --padding-smi: 13px;
  --padding-151xl: 170px;
  --padding-66xl: 85px;
  --padding-27xl: 46px;
  --padding-13xl-7: 32.7px;
  --padding-17xl: 36px;
  --padding-53xl-3: 72.3px;
  --padding-4xl-5: 23.5px;
  --padding-177xl: 196px;
  --padding-79xl: 98px;
  --padding-30xl: 49px;
  --padding-18xl-5: 37.5px;
  --padding-12xs-1: 0.1px;
  --padding-64xl: 83px;
  --padding-35xl: 54px;
  --padding-28xl: 47px;
  --padding-209xl: 228px;
  --padding-210xl: 229px;
  --padding-38xl: 57px;
  --padding-121xl: 140px;
  --padding-xs-2: 11.2px;
  --padding-xs-1: 11.1px;
  --padding-7xl: 26px;
  --padding-7xs-2: 5.2px;
  --padding-54xl: 73px;
  --padding-60xl: 79px;
  --padding-5xl-5: 24.5px;
  --padding-2xs-5: 10.5px;
  --padding-87xl-6: 106.6px;
  --padding-184xl-8: 203.8px;
  --padding-294xl: 313px;
  --padding-185xl-2: 204.2px;
  --padding-59xl: 78px;
  --padding-114xl: 133px;
  --padding-137xl: 156px;
  --padding-212xl: 231px;
  --padding-62xl-4: 81.4px;
  --padding-96xl: 115px;
  --padding-101xl-8: 120.8px;
  --padding-42xl-8: 61.8px;
  --padding-43xl-2: 62.2px;
  --padding-167xl-4: 186.4px;
  --padding-171xl: 190px;
  --padding-4xl-9: 23.9px;
  --padding-55xl-8: 74.8px;
  --padding-56xl-2: 75.2px;
  --padding-136xl-5: 155.5px;
  --padding-82xl: 101px;
  --padding-7xl-1: 26.1px;
  --padding-2xl-5: 21.5px;
  --padding-8xl-5: 27.5px;
  --padding-5xs-4: 7.4px;
  --padding-xs-7: 11.7px;
  --padding-49xl-4: 68.4px;
  --padding-221xl: 240px;
  --padding-101xl: 120px;
  --padding-24xl-6: 43.6px;
  --padding-6xs-3: 6.3px;
  --padding-9xs-5: 3.5px;
  --padding-9xs-2: 3.2px;
  --padding-120xl-5: 139.5px;
  --padding-45xl: 64px;
  --padding-87xl: 106px;
  --padding-211xl: 230px;
  --padding-34xl: 53px;
  --padding-67xl: 86px;
  --padding-418xl: 437px;
  --padding-90xl: 109px;
  --padding-199xl: 218px;
  --padding-89xl: 108px;
  --padding-10xs-5: 2.5px;
  --padding-238xl: 257px;
  --padding-461xl: 480px;
  --padding-460xl: 479px;
  --padding-100xl: 119px;
  --padding-220xl: 239px;
  --padding-8xs-6: 4.6px;
  --padding-7xs-1: 5.1px;
  --padding-mid-2: 17.2px;
  --padding-5xs-9: 7.9px;
  --padding-5xs-8: 7.8px;
  --padding-9xs-3: 3.3px;
  --padding-mid-7: 17.7px;
  --padding-9xs-8: 3.8px;
  --padding-9xs-9: 3.9px;
  --padding-4xs-6: 8.6px;
  --padding-55xl-7: 74.7px;
  --padding-3xl-4: 22.4px;
  --padding-4xl-2: 23.2px;
  --padding-56xl: 75px;
  --padding-13xl-6: 32.6px;
  --padding-58xl-5: 77.5px;
  --padding-sm-2: 13.2px;
  --padding-57xl-6: 76.6px;
  --padding-7xs-3: 5.3px;
  --padding-56xl-1: 75.1px;
  --padding-29xl: 48px;
  --padding-smi-3: 12.3px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-mid-2: 17.2px;
  --br-10xs-1: 2.1px;
  --br-5xs: 8px;
  --br-base: 16px;
  --br-xs: 12px;
  --br-base-4: 15.4px;
  --br-4xs-4: 8.4px;
  --br-4xs-5: 8.5px;
  --br-4xs: 9px;
  --br-9xs: 4px;
  --br-5xl: 24px;
  --br-34xl-9: 53.9px;
  --br-11xs-7: 1.7px;
  --br-8xs-8: 4.8px;
  --br-6xl: 25px;
  --br-11xs: 2px;
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-8xs-5: 4.5px;
  --br-5xs-3: 7.3px;
  --br-9xs-1: 3.1px;
  --br-xs-7: 11.7px;
  --br-13xl: 32px;
  --br-34xl: 53px;
  --br-xs-8: 11.8px;
  --br-11xs-1: 1.1px;
  --br-5xs-4: 7.4px;

  /* Effects */
  --accentued-drop-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  --shadow: 0px 24px 128px rgba(57, 57, 57, 0.2);
}
